<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.cqupt.erp.erpaccount.dao.AdminUserDao">
    <resultMap id="BaseResultMap" type="cn.edu.cqupt.erp.erpaccount.entity.AdminUser">
        <id column="ADMINID" property="adminId" jdbcType="VARCHAR"/>
        <result column="ADMINNAME" property="adminName" jdbcType="VARCHAR"/>
        <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
        <result column="POSITION" property="position" jdbcType="VARCHAR"/>
        <result column="EMAIL" property="email" jdbcType="VARCHAR"/>
        <result column="TEL" property="tel" jdbcType="VARCHAR"/>
        <result column="REM1" property="rem1" jdbcType="VARCHAR"/>
        <result column="ROLE" property="role" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ADMINID, ADMINNAME, PASSWORD, PASSWORD, POSITION, EMAIL, EMAIL, TEL, REM1, ROLE
    </sql>

    <select id="getAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM adminuser
    </select>

    <select id="findAdminuserByAdminID" parameterType="map" resultType="cn.edu.cqupt.erp.erpaccount.entity.AdminUser">
        select <include refid="Base_Colum_List"/> from ADMINUSER where ADMINID = #{adminId}
    </select>
</mapper>