<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="cn.edu.cqupt.erp.erpaccount.dao.RegisterDao">
	<resultMap type="cn.edu.cqupt.erp.erpaccount.entity.Register" id="RegisterResult">
		<id column="USERID" property="userID"/>  
		<result column="USERNAME" property="name"/>  
		<result column="PASSWORD" property="password"/>  
		<result column="MAJOR" property="major"/>  
		<result column="CLASS" property="className"/>
		<result column="SID" property="studentID"/>
		<result column="EMAIL" property="email"/>
		<result column="TEL" property="tel"/>
		<result column="STATUS" property="status"/>
	</resultMap>

	<sql id="base_register">
		USERID,USERNAME,PASSWORD,MAJOR,CLASS,SID,EMAIL,TEL,STATUS
	</sql>

	<select id="findRegisterByUserId" parameterType="string" resultMap="RegisterResult">
		select <include refid="base_register"/> from REGISTERUSER where USERID=#{userID}
	</select>
	
	<insert id="addRegister" parameterType="cn.edu.cqupt.erp.erpaccount.entity.Register">
		insert into REGISTERUSER(USERID,USERNAME,PASSWORD,MAJOR,CLASS,SID,EMAIL,TEL,STATUS) values(#{userID},#{name},#{password},#{major},#{className},#{studentID},#{email},#{tel},#{status})
	</insert>
	
	<update id="updateRegister" parameterType="cn.edu.cqupt.erp.erpaccount.entity.Register">
		update REGISTERUSER
		<set>
			<if test="name != null"> USERNAME=#{name}, </if>
			<if test="password != null"> PASSWORD=#{password}, </if>
			<if test="major != null"> MAJOR=#{major}, </if>
			<if test="className != null"> CLASS=#{className}, </if>
			<if test="studentID != null"> SID=#{studentID}, </if>
			<if test="email != null"> EMAIL=#{email}, </if>
			<if test="tel != null"> TEL=#{tel} </if>
		</set>
		 where USERID=#{userID}
	</update>
	
	<select id="findAllRegister"  resultMap="RegisterResult">
		select <include refid="base_register"/> from REGISTERUSER
	</select>
	
	<delete id="deleteRegisterById" parameterType="map">
		delete from REGISTERUSER where USERID=#{userID}
	</delete>
	
</mapper>
